#div1{
    background-color: azure;
    padding: 10px;
}
#div2{
    background-color: azure;
    padding: 10px;
}
#div3{
    background-color: azure;
    padding: 10px;
}
#div4{
    background-color: azure;
    padding: 10px;
}
#div5{
    background-color: azure;
    padding: 10px;
}
#div6{
    background-color: azure;
    padding: 10px;
}
div{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}